html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app__main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #738290;
  text-align: center;
  background-color: #a1b5d8;
}

.plot {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  padding: 1em;

  background-color: #b0c4e0;
  color: #eef8da;
}

.plot__title {
  margin: 1em auto;
  margin-top: 0;
}

.plot__main {
  background-color: #cde1ef;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.plot__svg {
  width: 100%;
  height: 100%;
}

.plot__line:hover {
  stroke: green;
  fill: green;
}

.plot__circle:hover {
  stroke: white;
  fill: gray;
}
